<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'shop:category_detail' category.pk %}">{{ category.name }}</a>
            <p>{{category.description}}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="{% url 'shop:add_category' %}"><button>Add Category</button></a>
        <a href="{% url 'shop:add_product' %}"><button>Add Product</button></a>
        {% endif %}
        <a href="{% url 'account:logout' %}"><button>Logout</button></a>
    {% else %}
        <a href="{% url 'account:login' %}"><button>Login</button></a>
        <a href="{% url 'account:signup' %}"><button>Sign Up</button></a>
    {% endif %}
    
</body>
</html>
